# Application
APP_NAME=Acme Products Importer
ENVIRONMENT=development
CORS_ORIGINS=*

# Database
DATABASE_URL=postgresql+psycopg2://user:password@localhost:5432/acme

# Redis
REDIS_URL=rediss://default:<password>@<host>:<port
BROKER_URL=${REDIS_URL}
RESULT_BACKEND=${REDIS_URL}
